.node {
   cursor: pointer;
}

.overlay{
   background-color:#EEE;
}

.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 1.5px;
}

.node text {
   font-size:10px;
   font-family:sans-serif;
}

.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
}

.templink {
   fill: none;
   stroke: red;
   stroke-width: 3px;
}

.ghostCircle.show{
   display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
   display: none;
}

body {
   margin: 0;
   padding: 0;
}

#ctrl_wrapper {
   width: 350px;
   display: block;
   position: fixed;
   right: 10px;
   top: 10px;
   padding: 10px;
   background-color: lightgrey;
}

#ctrl_wrapper #action_selector {
   width: 286px;
}

#ctrl_wrapper #node_name {
   width: 274px;
}

#ctrl_wrapper #node_weight {
   width: 263px;
}

#ctrl_wrapper .button {
   padding: 0;
}
